{{ define "main" }}
<article class='ten columns offset-by-four' id="article-content">
  <header class="ten columns" id="article-header">
    <h1>{{ .Params.title }}</h1>
  </header>

  <div class='ten columns gray' id="date-header">
    <p>
    {{ if .Date }}
      {{ .Date.Format "Jan 2006"}}

      {{ if .Params.updated_at }}
          revised {{ .Params.updated_at }}
      {{ end }}
    {{ end }}

  </div>
  <div class="ten columns" id="article-content">
    <div id="subscribe">
        This is an edition of the Napkin Math newsletter, where you'll receive
        an occassional problem to practise your order-of-magnitude calculations.
        You can <a href="/napkin">subscribe through email.</a>
    </div>

    {{ .Content }}
  </div>
{{ end }}
