{{ define "header" }}
  <link rel="preload" href="/static/fonts/droid-serif-regular.ttf" type="font/ttf" as="font" crossorigin="anonymous">
  <link rel="preload" href="/static/fonts/open-sans-italic.ttf" type="font/ttf" as="font" crossorigin="anonymous">
  <link rel="preload" href="/static/fonts/open-sans-semibold.ttf" type="font/ttf" as="font" crossorigin="anonymous">
{{ end }}

{{ define "main" }}

<article class='ten columns offset-by-four' id="article-content">
  <header class="ten columns" id="article-header">
    <h1>{{ .Params.title }}</h1>
  </header>

  <div class='ten columns gray' id="date-header">
    <p>
      {{ .Date.Format "Jan 2006"}}
  {{ if .Params.updated_at }}
      revised {{ .Params.updated_at }}
  {{ end }}
    </p>

  </div>

  <div class="ten columns" id="article-content">
    {{ .Content }}

    {{ if .Params.external_url }}
    <p><a href="{{ .Params.external_url }}">This is the external URL you're
      looking for.</a></p>
    {{ end }}

    <div id="subscribe">
        <a href="https://buttondown.email/sirupsen">Subscribe through email</a> to new articles (typically only a few a year).
    </div>
  </div>
</article>

{{ end }}
