<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" /> 
    <title>{{ block "title" . }}
      {{ if eq  .Title  .Site.Title }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}
    {{ end }}</title>

    <style>
      {{- $fonts := resources.Get "css/fonts.css" | toCSS | minify }}
      {{- $skeleton := resources.Get "css/skeleton.css" | toCSS | minify }}
      {{- $base := resources.Get "css/base.css" | toCSS | minify }}
      {{- $layout := resources.Get "css/layout.css" | toCSS | minify }}
      {{- $style := slice $fonts $skeleton $base $layout | resources.Concat "css/bundle.css" }}
      {{- $style.Content | safeCSS }}
    </style>
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/style.css"> -->

    <link rel="preload" href="/static/fonts/open-sans-regular.ttf" type="font/ttf" as="font" crossorigin="anonymous">
    <link rel="preload" href="/static/images/gravatar.jpg" as="image">
    {{ block "header" . }}
    {{ end }}

    <link href="https://feeds.feedburner.com/sirupsen" rel="alternate" title="Sirupsen" type="application/atom+xml" /> 

    <script>
      (function (w,d,s,o,f,js,fjs) {
        w[o] = w[o] || function () { (w[o].q = w[o].q || []).push(arguments) };
        js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];
        js.id = o; js.src = f; js.async = 1; fjs.parentNode.insertBefore(js, fjs);
      }(window, document, 'script', 'plausible', 'https://plausible.io/js/p.js'));
      plausible('page')
    </script>

    <!-- <link rel="icon" href="data:;base64,="> -->
    <link rel="icon" type="image/png" href="/static/images/favicon.png" />
  </head>
  <body>
    <div class="container">	
      <div id='mobile' class='two columns hidden'>
        <ul>
          <li><a href="/">Simon Hørup Eskildsen</a></li>
          <li><a href="mailto:simon@sirupsen.com">simon@sirupsen.com</a></li>
          <li style="margin-bottom: 16px;"><a href="https://twitter.com/sirupsen">@sirupsen</a></li>
          <li><a href="/">Blog</a></br></li>
          <li><a href="/about/">About</a></br></li>
          <li><a href="/books/">Book Reviews</a></li>
          <li><a href="/napkin/">Napkin Math</a></li>
          <li><a href="/subscribe/">Subscribe to new posts</a></li>
        </ul>
      </div>

      <div class="four columns sidebar">
        <section>
          <a id="avatar" href="/"></a>

          <ul id="social">
            <li>
              <a href="mailto:simon@sirupsen.com?subject=Hi" id="sidebar-email" title="Say hi">
                <svg  height="23px": style="fill: #999" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"/></svg>
              </a>
            </li>

            <li>
              <a href="https://www.linkedin.com/in/sirupsen" id="sidebar-linkedin" style="font-size: 21px;">
                <svg height="20px": style="fill: #999" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448.1 512"><path d="M100.3 448H7.4V148.9h92.9V448zM53.8 108.1C24.1 108.1 0 83.5 0 53.8S24.1 0 53.8 0s53.8 24.1 53.8 53.8-24.1 54.3-53.8 54.3zM448 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448h-.1z"/></svg>
              </a>
            </li>

            <li>
              <a href="https://twitter.com/Sirupsen" id="sidebar-twitter">
                <svg height="21px" style="fill: #999;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg>
              </a>
            </li>

            <li>
              <a href="https://github.com/Sirupsen" id="sidebar-github">
                <svg height="23px" style="fill: #999;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 512"><path d="M186.1 328.7c0 20.9-10.9 55.1-36.7 55.1s-36.7-34.2-36.7-55.1 10.9-55.1 36.7-55.1 36.7 34.2 36.7 55.1zM480 278.2c0 31.9-3.2 65.7-17.5 95-37.9 76.6-142.1 74.8-216.7 74.8-75.8 0-186.2 2.7-225.6-74.8-14.6-29-20.2-63.1-20.2-95 0-41.9 13.9-81.5 41.5-113.6-5.2-15.8-7.7-32.4-7.7-48.8 0-21.5 4.9-32.3 14.6-51.8 45.3 0 74.3 9 108.8 36 29-6.9 58.8-10 88.7-10 27 0 54.2 2.9 80.4 9.2 34-26.7 63-35.2 107.8-35.2 9.8 19.5 14.6 30.3 14.6 51.8 0 16.4-2.6 32.7-7.7 48.2 27.5 32.4 39 72.3 39 114.2zm-64.3 50.5c0-43.9-26.7-82.6-73.5-82.6-18.9 0-37 3.4-56 6-14.9 2.3-29.8 3.2-45.1 3.2-15.2 0-30.1-.9-45.1-3.2-18.7-2.6-37-6-56-6-46.8 0-73.5 38.7-73.5 82.6 0 87.8 80.4 101.3 150.4 101.3h48.2c70.3 0 150.6-13.4 150.6-101.3zm-82.6-55.1c-25.8 0-36.7 34.2-36.7 55.1s10.9 55.1 36.7 55.1 36.7-34.2 36.7-55.1-10.9-55.1-36.7-55.1z"/></svg>
              </a>
            </li>
          </ul>

          <ul id="me">
            <li>Simon Hørup Eskildsen</span></li>
            <li></li>
            <!-- remember to put in mobile section too! -->
            <li><a href="/">Blog</a></br></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/books/">Book Reviews</a></li>
            <li><a href="/napkin/">Napkin Math</a></li>
            <li><a href="/subscribe/">Subscribe to new posts</a></li>
            <li><a href="/index.xml">RSS</a></li>
          </ul>

        </section>
      </div>

      {{ block "main" . }}
      {{ end }}
    </div>

    <script>
      /*! instant.page v5.1.0 - (C) 2019-2020 Alexandre Dieulot - https://instant.page/license */
      let mouseoverTimer
      let lastTouchTimestamp
      const prefetches = new Set()
      const prefetchElement = document.createElement('link')
      const isSupported = prefetchElement.relList && prefetchElement.relList.supports && prefetchElement.relList.supports('prefetch')
                          && window.IntersectionObserver && 'isIntersecting' in IntersectionObserverEntry.prototype
      const allowQueryString = 'instantAllowQueryString' in document.body.dataset
      const allowExternalLinks = 'instantAllowExternalLinks' in document.body.dataset
      const useWhitelist = 'instantWhitelist' in document.body.dataset
      const mousedownShortcut = 'instantMousedownShortcut' in document.body.dataset
      const DELAY_TO_NOT_BE_CONSIDERED_A_TOUCH_INITIATED_ACTION = 1111

      let delayOnHover = 65
      let useMousedown = false
      let useMousedownOnly = false
      let useViewport = false

      if ('instantIntensity' in document.body.dataset) {
        const intensity = document.body.dataset.instantIntensity

        if (intensity.substr(0, 'mousedown'.length) == 'mousedown') {
          useMousedown = true
          if (intensity == 'mousedown-only') {
            useMousedownOnly = true
          }
        }
        else if (intensity.substr(0, 'viewport'.length) == 'viewport') {
          if (!(navigator.connection && (navigator.connection.saveData || (navigator.connection.effectiveType && navigator.connection.effectiveType.includes('2g'))))) {
            if (intensity == "viewport") {
              /* Biggest iPhone resolution (which we want): 414 × 896 = 370944
               * Small 7" tablet resolution (which we don’t want): 600 × 1024 = 614400
               * Note that the viewport (which we check here) is smaller than the resolution due to the UI’s chrome */
              if (document.documentElement.clientWidth * document.documentElement.clientHeight < 450000) {
                useViewport = true
              }
            }
            else if (intensity == "viewport-all") {
              useViewport = true
            }
          }
        }
        else {
          const milliseconds = parseInt(intensity)
          if (!isNaN(milliseconds)) {
            delayOnHover = milliseconds
          }
        }
      }

      if (isSupported) {
        const eventListenersOptions = {
          capture: true,
          passive: true,
        }

        if (!useMousedownOnly) {
          document.addEventListener('touchstart', touchstartListener, eventListenersOptions)
        }

        if (!useMousedown) {
          document.addEventListener('mouseover', mouseoverListener, eventListenersOptions)
        }
        else if (!mousedownShortcut) {
            document.addEventListener('mousedown', mousedownListener, eventListenersOptions)
        }

        if (mousedownShortcut) {
          document.addEventListener('mousedown', mousedownShortcutListener, eventListenersOptions)
        }

        if (useViewport) {
          let triggeringFunction
          if (window.requestIdleCallback) {
            triggeringFunction = (callback) => {
              requestIdleCallback(callback, {
                timeout: 1500,
              })
            }
          }
          else {
            triggeringFunction = (callback) => {
              callback()
            }
          }

          triggeringFunction(() => {
            const intersectionObserver = new IntersectionObserver((entries) => {
              entries.forEach((entry) => {
                if (entry.isIntersecting) {
                  const linkElement = entry.target
                  intersectionObserver.unobserve(linkElement)
                  preload(linkElement.href)
                }
              })
            })

            document.querySelectorAll('a').forEach((linkElement) => {
              if (isPreloadable(linkElement)) {
                intersectionObserver.observe(linkElement)
              }
            })
          })
        }
      }

      function touchstartListener(event) {
        /* Chrome on Android calls mouseover before touchcancel so `lastTouchTimestamp`
         * must be assigned on touchstart to be measured on mouseover. */
        lastTouchTimestamp = performance.now()

        const linkElement = event.target.closest('a')

        if (!isPreloadable(linkElement)) {
          return
        }

        preload(linkElement.href)
      }

      function mouseoverListener(event) {
        if (performance.now() - lastTouchTimestamp < DELAY_TO_NOT_BE_CONSIDERED_A_TOUCH_INITIATED_ACTION) {
          return
        }

        const linkElement = event.target.closest('a')

        if (!isPreloadable(linkElement)) {
          return
        }

        linkElement.addEventListener('mouseout', mouseoutListener, {passive: true})

        mouseoverTimer = setTimeout(() => {
          preload(linkElement.href)
          mouseoverTimer = undefined
        }, delayOnHover)
      }

      function mousedownListener(event) {
        const linkElement = event.target.closest('a')

        if (!isPreloadable(linkElement)) {
          return
        }

        preload(linkElement.href)
      }

      function mouseoutListener(event) {
        if (event.relatedTarget && event.target.closest('a') == event.relatedTarget.closest('a')) {
          return
        }

        if (mouseoverTimer) {
          clearTimeout(mouseoverTimer)
          mouseoverTimer = undefined
        }
      }

      function mousedownShortcutListener(event) {
        if (performance.now() - lastTouchTimestamp < DELAY_TO_NOT_BE_CONSIDERED_A_TOUCH_INITIATED_ACTION) {
          return
        }

        const linkElement = event.target.closest('a')

        if (event.which > 1 || event.metaKey || event.ctrlKey) {
          return
        }

        if (!linkElement) {
          return
        }

        linkElement.addEventListener('click', function (event) {
          if (event.detail == 1337) {
            return
          }

          event.preventDefault()
        }, {capture: true, passive: false, once: true})

        const customEvent = new MouseEvent('click', {view: window, bubbles: true, cancelable: false, detail: 1337})
        linkElement.dispatchEvent(customEvent)
      }

      function isPreloadable(linkElement) {
        if (!linkElement || !linkElement.href) {
          return
        }

        if (useWhitelist && !('instant' in linkElement.dataset)) {
          return
        }

        if (!allowExternalLinks && linkElement.origin != location.origin && !('instant' in linkElement.dataset)) {
          return
        }

        if (!['http:', 'https:'].includes(linkElement.protocol)) {
          return
        }

        if (linkElement.protocol == 'http:' && location.protocol == 'https:') {
          return
        }

        if (!allowQueryString && linkElement.search && !('instant' in linkElement.dataset)) {
          return
        }

        if (linkElement.hash && linkElement.pathname + linkElement.search == location.pathname + location.search) {
          return
        }

        if ('noInstant' in linkElement.dataset) {
          return
        }

        return true
      }

      function preload(url) {
        if (prefetches.has(url)) {
          return
        }

        const prefetcher = document.createElement('link')
        prefetcher.rel = 'prefetch'
        prefetcher.href = url
        document.head.appendChild(prefetcher)

        prefetches.add(url)
      }
    </script>
  </body>
</html> 
