{{ define "main" }}
<div class='ten columns offset-by-four'>
  <header class="ten columns" id="article-header">
    {{ .Content }}
  </header>
</div>

<ul id="posts" class="twelve columns offset-by-four">
  {{ range ( where .Site.RegularPages.ByPublishDate.Reverse "Section" .Params.list )  }}
  {{ if (not (isset .Params "hidden")) }}
    <li>
      {{ if .Params.external_url }}
        <a class='nine columns' href="{{.Params.external_url}}">{{.Title}}</a>
      {{ else }}
        <a class='nine columns' href="{{.RelPermalink}}">{{.Title}}</a>
      {{ end }}

      <span class="two columns">{{.Date.Format "Jan 2006"}}</span>

      <iframe src='https://share.transistor.fm/e/{{ .Params.id }}' width='100%' height='180' frameborder='0' scrolling='no' seamless='true' style='width:100%; height:180px;'></iframe>
    </li>
  {{ end }}
{{ end }}
</ul>
{{ end }}
