{{ define "main" }}
{{ $pages := .Site.RegularPages.ByPublishDate }}
{{ if .Params.list_sort_order }}
  {{ $pages = ($pages.ByParam .Params.list_sort_order) }}
{{ end }}
{{ $pages = $pages.Reverse }}

<style>
{{ $layout := resources.Get "css/charts.css" | toCSS | minify }}
{{ $layout.Content | safeCSS }}
#book-chart {
  height: 150px;
  margin-bottom: 24px;
  box-shadow: none;
}
</style>

<header class="twelve columns offset-by-four" id="article-header">
  <h1>Book Reviews</h1>

  <table id="book-chart" class="charts-css column show-labels">
    <caption>Books read by year</caption>

    <thead>
      <tr>
        <th scope="col">Year</th>
        <th scope="col">Read</th>
      </tr>
    </thead>

    <tbody>
      {{ $count := 1 }}
      {{ $last := "__first" }}
      {{ $max := 62.0 }}

      {{ $pagesForGraph := .Site.RegularPages.ByPublishDate.Reverse }}
      {{ range ( where $pagesForGraph "Section" .Params.list ) }}
        {{ $current := .Date.Format "2006" }}

        {{ if or (eq $last $current) (eq $last "__first") }}
          {{ $count = add $count 1 }}
        {{ else }}
          <tr>
            <th scope="row">{{ $last }}</th>
            <td style="--size:{{ div $count $max }};">{{ $count }}</td>
          </tr>
          {{ $count = 1 }}
        {{ end }}

        {{ $last = $current }}
      {{ end }}
    </tbody>
  </table>

  
  {{ .Content }}
</header>

<ul id="posts">

  <li>
    <a class="eight columns offset-by-four">
    </a>

    <div class="four columns">
      {{ if .Params.list_sort_order }}
        <a href="/books/">
          <img src="/static/images/sort.svg" style="display: inline-block;
          padding-left: 114px;" width="16px" />
        </a>
      {{ else }}
        <a href="/books/by-stars/">
          <img src="/static/images/sort.svg" style="display: inline-block; opacity: 100%;" width="16px" />
        </a>
      {{ end }}
    </div>
  </li>

  {{ range ( where $pages "Section" .Params.list ) }}
  {{ if (not (isset .Params "hidden")) }}
    <li>
      {{ if .Params.external_url }}
        <a class='eight columns offset-by-four' href="{{.Params.external_url}}">{{emojify .Title}}</a>
      {{ else }}
        <a class='eight columns offset-by-four' href="{{.RelPermalink}}">{{emojify .Title}}</a>
      {{ end }}

      {{- $full_stars := int .Params.book_rating }}
      {{- $not_full_stars := sub 5 $full_stars }}

      <div class="four columns">
        {{ if eq $full_stars -1 }}
          Unrated
        {{ else }}
          {{ range (seq $full_stars) }}
            <img src="/static/images/star.svg" style="display: inline-block; opacity: 100%;" width="16px" />
          {{ end }}

          {{ range (seq $not_full_stars) }}
            <img src="/static/images/star.svg" style="display: inline-block; opacity: 20%;" width="16px" />
          {{ end }}
        {{ end }}

          <!-- {{.Params.book_rating}} / 5 -->
        </a>
        <span style="padding-left: 8px;">{{.Date.Format "Jan 2006"}}</span>
      </div>
    </li>
  {{ end }}
{{ end }}
</ul>
{{ end }}
